<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta property="fb:app_id"          content="{{ facebookAppId }}" > 
        <meta property="og:url"             content="{{ shareProjectUrl }}"  > 
        <meta property="og:title"           content="{{ project.title }}" > 
        {% if project.images|length > 0 %}
            {% for image in project.images %}
        <meta property="og:image"           content="{{ app.request.getSchemeAndHttpHost() }}{% path image.image, 'reference' %}"  >
            {% endfor %}
        {% endif %}
        <meta property="og:description"     content="{{ project.description }}"  >
        <meta property="og:site_name"       content="{{ project.title }}" >
        <meta property="og:type"            content="project" >
        <title>{{ project.title }}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        Redirecting...
        {% block javascripts %}
            <script type="text/javascript">
            var redir = setTimeout(function(){
                window.location.href = '{{ redirectUrl }}';
            }, 1000);
            </script>
        {% endblock %}
    </body>
</html>
